.footer {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  background: $footer-bg;
  &__container {
    display: flex;
    @include responsive(tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
  &__wrapper {
    @include responsive(tablet) {
      margin: auto;
    }
    display: flex;
    flex-direction: column;
    margin-right: 131px;

    a path:hover {
      fill: $hover-color;
    }
    .site-logo {
      margin-bottom: 55px;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 1.3rem;
      @include responsive(tablet) {
        margin-bottom: 30px;
      }
    }
  }
  &__sitenav {
    @include responsive(tablet) {
      margin: auto;
    }
    margin-right: auto;
    ul {
      display: grid;
      grid-template-columns: repeat(2, 160px);
      column-gap: 3rem;
      @include responsive(tablet) {
        grid-template-columns: repeat(1, 160px);
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-bottom: 30px;
      }
    }
    li:not(:last-child) {
      margin-bottom: 8px;
    }
    a {
      @include font(1.5rem, 2.6rem, 400, #fff);
    }
    a:hover {
      color: $hover-color;
    }
  }
  &__div {
    text-align: right;
    @include responsive(tablet) {
      text-align: center;
    }
  }
  &__btn {
    margin-bottom: 24px;
  }
}
