@mixin font(
  $size,
  $lineHeight,
  $weight: 400,
  $color: #9795a5,
  $family: "Public Sans"
) {
  font: {
    size: $size;
    weight: $weight;
    family: $family;
  }
  line-height: $lineHeight;
  color: $color;
}
@mixin responsive($witdh) {
  @if $witdh == tablet {
    @media screen and (max-width: 800px) {
      @content;
    }
  } @else if $witdh == mibile {
    @media screen and (max-width: 400px) {
      @content;
    }
  }
}
